<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bll.lnkstudy">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- 位置信息 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 如果是安卓10.0，需要后台获取连接的wifi名称则添加进程获取位置信息权限 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- android 10.0使用wifi api新添加的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <permission
        android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ReservedSystemPermission" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ReservedSystemPermission" />
    <permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ReservedSystemPermission" />

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES"
        tools:ignore="ProtectedPermissions" />>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:exported="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:persistent="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <receiver
            android:name=".MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="com.android.settings.importdata"/>
                <action android:name="com.android.settings.importrentdata"/>
                <action android:name="com.android.settings.cleardata"/>
                <action android:name="ACTION_GLOBAL_SEARCH"/>
                <action android:name="com.geniatech.knote.reader.save.note.broadcast"/>
                <action android:name="com.bll.lnkstudy.exam.time"/>
                <action android:name="com.bll.lnkstudy.upload"/>
                <action android:name="com.bll.lnkstudy.upload.1month"/>
                <action android:name="com.bll.lnkstudy.upload.9month"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.activity.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.AccountLoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.AccountRegisterActivity" />
        <activity android:name=".ui.activity.AccountInfoActivity" />
        <activity android:name=".ui.activity.book.BookStoreActivity" />
        <activity
            android:name=".ui.activity.drawing.BookDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize" />
        <activity
            android:name=".ui.activity.AppToolActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.activity.TeachListActivity" />
        <activity
            android:name=".ui.activity.TeachActivity" />
        <activity android:name=".ui.activity.book.TextbookStoreActivity" />
        <activity android:name=".ui.activity.book.BookStoreTypeActivity"
            android:launchMode="singleTask"
            />
        <activity android:name=".ui.activity.PaintingListActivity" />
        <activity android:name=".ui.activity.MessageListActivity" />
        <activity android:name=".ui.activity.MainCourseActivity" />
        <activity
            android:name=".ui.activity.drawing.NoteDrawingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize" />
        <activity android:name=".ui.activity.NotebookManagerActivity" />
        <activity android:name=".ui.activity.drawing.PaperExamDrawingActivity" />
        <activity
            android:name=".ui.activity.drawing.HomeworkDrawingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize" />
        <activity
            android:name=".ui.activity.drawing.HomeworkPaperDrawingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize" />
        <activity android:name=".ui.activity.RecordActivity" />
        <activity android:name=".ui.activity.RecordListActivity" />
        <activity
            android:name=".ui.activity.drawing.PaintingDrawingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize" />
        <activity android:name=".ui.activity.book.BookTypeListActivity" />
        <activity
            android:name=".ui.activity.CloudStorageActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.drawing.PaperDrawingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize" />
        <activity
            android:name=".ui.activity.WalletActivity"
            android:theme="@style/activityCustom" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:theme="@style/activityCustom" />
        <activity android:name=".ui.activity.WallpaperListActivity" />
        <activity
            android:name=".ui.activity.drawing.DraftDrawingActivity"
            android:theme="@style/activityCustom" />
        <activity android:name=".ui.activity.date.DateActivity" />
        <activity android:name=".ui.activity.date.DatePlanListActivity" />
        <activity android:name=".ui.activity.date.DateDayListActivity" />
        <activity android:name=".ui.activity.date.DateDayDetailsActivity" />
        <activity android:name=".ui.activity.date.DatePlanDetailsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.activity.CampusModeActivity" />
        <activity android:name=".ui.activity.ClassGroupActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.activity.ClassGroupUserActivity" />
        <activity android:name=".ui.activity.PaintingTypeListActivity" />
        <activity android:name=".ui.activity.book.HomeworkBookStoreActivity" />
        <activity android:name=".ui.activity.drawing.HomeworkBookDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize"
            />
        <activity android:name=".ui.activity.PastHomeworkActivity"/>
        <activity android:name=".ui.activity.drawing.FreeNoteActivity" />
        <activity android:name=".ui.activity.PlanOverviewActivity"/>
        <activity android:name=".ui.activity.drawing.DiaryActivity"/>
        <activity android:name=".ui.activity.ResourceCenterActivity"
            android:launchMode="singleTask"
            />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/authority"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>