<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- 位置信息 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 如果是安卓10.0，需要后台获取连接的wifi名称则添加进程获取位置信息权限 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- android 10.0使用wifi api新添加的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission
        android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REBOOT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECOVERY"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.rockchip.update.permission.SHOW_UI" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:exported="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:persistent="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <receiver
            android:name=".MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="com.android.settings.importdata"/>
                <action android:name="com.android.settings.importrentdata"/>
                <action android:name="com.android.settings.cleardata"/>
                <action android:name="ACTION_GLOBAL_SEARCH"/>
                <action android:name="com.geniatech.knote.reader.save.note.broadcast"/>
                <action android:name="com.bll.lnkstudy.refresh" />
                <action android:name="com.bll.lnkstudy.exam.time"/>
                <action android:name="com.bll.lnkstudy.upload"/>
                <action android:name="com.bll.lnkstudy.upload.1month"/>
                <action android:name="com.bll.lnkstudy.upload.9month"/>
                <action android:name="com.htfyun.blackwhitebar.refresh"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.activity.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.AccountLoginActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.AccountRegisterActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.activity.AccountInfoActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.activity.book.BookStoreActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name=".ui.activity.AppToolActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name=".ui.activity.TeachActivity"
            android:turnScreenOn="true"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.activity.book.TextbookStoreActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.activity.book.BookStoreTypeActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.activity.PaintingListActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.activity.MessageListActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name=".ui.activity.drawing.NoteDrawingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.activity.NotebookManagerActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.activity.drawing.ExamCommitDrawingActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name=".ui.activity.drawing.HomeworkDrawingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name=".ui.activity.drawing.HomeworkPaperDrawingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize"
            />
        <activity android:name=".ui.activity.HomeworkRecordActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.activity.HomeworkRecordListActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name=".ui.activity.drawing.PaintingDrawingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.activity.book.BookcaseTypeActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name=".ui.activity.CloudStorageActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name=".ui.activity.drawing.TestPaperDrawingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize"
            />
        <activity
            android:name=".ui.activity.WalletActivity"
            android:theme="@style/activityCustom"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:theme="@style/activityCustom1"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.activity.WallpaperMyActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name=".ui.activity.drawing.DraftDrawingActivity"
            android:theme="@style/activityCustom" />
        <activity android:name=".ui.activity.date.DateActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.activity.date.DatePlanListActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.activity.date.DateDayListActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.activity.date.DateDayDetailsActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.activity.date.DatePlanDetailsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.activity.ClassGroupActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.activity.ClassGroupUserActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.activity.book.HomeworkBookStoreActivity"
            android:theme="@style/activityCustom"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.activity.book.TextBookDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.activity.drawing.HomeworkBookDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.activity.drawing.FreeNoteActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.activity.drawing.PlanOverviewActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.activity.drawing.DiaryActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.activity.ResourceCenterActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.activity.OperatingGuideActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.activity.RemoteSchoolActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.activity.ScreenshotListActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.activity.ScreenshotManagerActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.activity.PaintingImageActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.activity.date.DateEventActivity"
            android:theme="@style/activityCustom"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.activity.CalenderMyActivity"/>
        <activity android:name=".ui.activity.drawing.CalligraphyDrawingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.activity.drawing.FileDrawingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.activity.HomeworkCorrectActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.activity.drawing.HomeworkShareDrawingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name=".ui.activity.HomeworkNoticeListActivity" />
        <activity android:name=".ui.activity.CourseManagerActivity" />
        <activity android:name=".ui.activity.HomeworkMessageActivity" />
        <activity android:name=".ui.activity.HomeworkMessageAllActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/authority"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>