<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bll.lnkstudy"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <!--位置信息-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--如果是安卓10.0，需要后台获取连接的wifi名称则添加进程获取位置信息权限 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!--android 10.0使用wifi api新添加的权限-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <permission  android:name="android.permission.INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <permission  android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <permission  android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:exported="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme.NoActionBar"
        >

        <activity android:name=".ui.activity.LauncherActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            >
        </activity>

        <activity android:name=".ui.activity.AccountLoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.AccountRegisterActivity"/>
        <activity android:name=".ui.activity.AccountInfoActivity"/>

        <activity android:name=".ui.activity.MainActivity"
            android:exported="true">
            </activity>

        <activity android:name=".ui.activity.date.MainDateActivity"/>
        <activity android:name=".ui.activity.date.MainDateAddActivity"/>
        <activity android:name=".ui.activity.date.MainDateDayDetailsActivity"/>
        <activity android:name=".ui.activity.date.MainDatePlanDetailsActivity"/>
        <activity android:name=".ui.activity.date.MainDateScheduleDetailsActivity"/>
        <activity android:name=".ui.activity.BookStoreActivity"/>
        <activity android:name=".ui.activity.drawing.BookDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"/>

        <activity android:name=".ui.activity.AppListActivity"/>
        <activity android:name=".ui.activity.AppDownloadActivity"/>
        <activity android:name=".ui.activity.TeachListActivity" />
        <activity android:name=".ui.activity.TeachActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.activity.BookStoreTypeActivity"/>
        <activity android:name=".ui.activity.MyPaintingListActivity"/>
        <activity android:name=".ui.activity.MessageListActivity"/>
        <activity android:name=".ui.activity.MainCourseActivity"/>
        <activity android:name=".ui.activity.NoteBookManagerActivity"/>
        <activity android:name=".ui.activity.drawing.MainReceivePaperDrawingActivity"/>
        <activity android:name=".ui.activity.drawing.NoteDrawingActivity"/>
        <activity android:name=".ui.activity.drawing.HomeworkDrawingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            />
        <activity android:name=".ui.activity.RecordActivity"/>
        <activity android:name=".ui.activity.RecordListActivity"/>
        <activity android:name=".ui.activity.drawing.PaintingDrawingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            />
        <activity android:name=".ui.activity.BookCaseTypeActivity"/>
        <activity android:name=".ui.activity.BookCollectActivity"/>
        <activity android:name=".ui.activity.drawing.PaperDrawingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"/>

        <activity android:name=".ui.activity.WalletActivity"
            android:theme="@style/activityCustom"
            />
        <activity android:name=".ui.activity.MyWallpaperActivity"/>
        <activity android:name=".ui.activity.AppOfficialActivity"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/authority"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name=".ui.AlarmService"></service>

    </application>


</manifest>